python-dotenv
duckduckgo-search
ddgs
fpdf2
langgraph
langchain
langchain-core
langchain-community
langchain-openai
streamlit
pydantic
requests
typing-extensions
urllib3
python-dateutil
langgraph-checkpoint
